# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Money-Prototypes/nbproject/private/
/Accounting-Prototypes/nbproject/private/
/Associates-Prototypes/nbproject/private/
/AssociationSite-Prototypes/nbproject/private/
/Bookkeeping-Prototypes/nbproject/private/
/Contracts-Prototypes/nbproject/private/
/Costing-Prototypes/nbproject/private/
/Events-Prototypes/nbproject/private/
/journalsales/nbproject/private/
/JournalSales/nbproject/private/
/JournalSales-Prototypes/nbproject/private/
/JournalSite-Prototypes/nbproject/private/
/MedicalImproving/nbproject/private/
/MedicalImproving-Prototypes/nbproject/private/
/MedicalResidency-Prototypes/nbproject/private/
/Papers-Prototypes/nbproject/private/
/ProductSales-Prototypes/nbproject/private/
/Purchases-Prototypes/nbproject/private/
/SpecialistTitle-Prototypes/nbproject/private/
/WorkTeam-Prototypes/nbproject/private/
Security-Prototypes/nbproject/private/private.xml
