/* Elements with non-responsive attributes */

main > div > div {
    padding-top: 15px;
}

.thumbnail {
    height: 270px;
    background-color: #f5f5f5;
}

div > a:hover {
  text-decoration: none;
}

div > a > img {
    padding-top: 10px;
}

div > a > div > h3 {
    margin-top: 5px;
}

div > a > div > p {
    margin-bottom: 0;
}

/* Put here elements with responsive attributes */

@media (max-width: 768px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 1200px) {
}
