main > div > div {
    padding-top: 15px;
}

.thumbnail {
    height: 270px;
    background-color: #f5f5f5;
}

.thumbnail:hover {
  text-decoration: none;
}

.thumbnail > img {
    padding-top: 10px;
}

.thumbnail h3 {
    margin-top: 5px;
}

.thumbnail p {
    margin-bottom: 0;
}
