.thumbnail {
    margin-top: 15px; 
}

.alert {
    margin-right: 15px; 
    margin-left: 15px;
}

.alert-danger {
    padding-bottom: 0;
}

.btn-danger {
    margin-top: 10px;
    margin-bottom: 15px;
}

form {
    margin-right: 15px; 
    margin-left: 15px; 
}

#sysLoginFormGroupSubmit {
    margin-top: 25px;
    margin-bottom: 10px;
}
