/* AngularJs elements */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Page elements */

#sysMainMenuSideMenu {
    margin-top: 10px; 
}

#sysMainMenuSideMenu > .container-fluid {
    padding: 0;
    font-size: 22px;
}

#sysMainMenuSideMenuButton {
    margin-bottom: 10px;
    width: 100%;
}
@media (max-width: 992px) {
    #sysMainMenuSideMenuButton {
        display: block;
    }
}
@media (min-width: 992px) {
    #sysMainMenuSideMenuButton {
        display: none;
    }
}

@media (min-width: 992px) {
    #sysMainMenuSideMenuAccordion {
        display: block;        
        height: auto !important;
    }
}

#sysMainMenuSideMenuAccordion .panel-heading {
    padding: 0; 
}

#sysMainMenuSideMenuAccordion .panel-heading > a {
    text-decoration: none;
    cursor: pointer;
}

#sysMainMenuSideMenuAccordion .panel-heading > a > .panel-title {
    padding: 10px;
}

#sysMainMenuChildTemplateView {
    margin-top: 10px;
}
