/* Elements with non-responsive attributes */

.thumbnail {
    margin-top: 15px; 
}

.alert-danger {
    margin-right: 15px; 
    margin-left: 15px;
    padding-bottom: 0;
}

.btn-danger {
    margin-top: 10px;
    margin-bottom: 15px;
}

form {
    margin-right: 15px; 
    margin-left: 15px; 
}

#formGroupText {
    margin-top: 20px;
    margin-bottom: 20px;
}

#formGroupEmail {
    margin-top: 20px;
    margin-bottom: 15px;
}

#formGroupSubmit {
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Put here elements with responsive attributes */

@media (max-width: 768px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 1200px) {
}
