.thumbnail {
    margin-top: 15px; 
}

.alert-danger {
    margin-right: 15px; 
    margin-left: 15px;
    padding-bottom: 0;
}

.btn-danger {
    margin-top: 10px;
    margin-bottom: 15px;
}

form {
    margin-right: 15px; 
    margin-left: 15px; 
}

#sysPasswordRecoveryFormGroupText {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sysPasswordRecoveryFormGroupEmail {
    margin-top: 20px;
    margin-bottom: 15px;
}

#sysPasswordRecoveryFormGroupSubmit {
    margin-top: 15px;
    margin-bottom: 10px;
}
