/* Elements with non-responsive attributes */

.thumbnail {
    margin-top: 15px; 
}

.alert {
    margin-right: 15px; 
    margin-left: 15px;
}

.alert, .alert-danger {
    padding-bottom: 0;
}

.btn-danger {
    margin-top: 10px;
    margin-bottom: 15px;
}

form {
    margin-right: 15px; 
    margin-left: 15px; 
}

#formGroupCurrentPassword {
    margin-top: 15px;
}

#formGroupNewPassword {
    margin-top: 45px;
}

#formGroupText {
    margin-top: 5px;
}

formGroupNewPasswordConfirmation {
    margin-top: 15px;
}

#formGroupSubmit {
    margin-top: 15px;
}

/* Put here elements with responsive attributes */

@media (max-width: 768px) {
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 992px) and (max-width: 1200px) {
}
@media (min-width: 1200px) {
}
