.sys-password-change-thumbnail {
    margin-top: 15px; 
}

.alert {
    margin-right: 15px; 
    margin-left: 15px;
}

.alert, .alert-danger {
    padding-bottom: 0;
}

.btn-danger {
    margin-top: 10px;
    margin-bottom: 15px;
}

form {
    margin-right: 15px; 
    margin-left: 15px; 
}

#sysPasswordChangeFormGroupCurrentPassword {
    margin-top: 15px;
}

#sysPasswordChangeFormGroupNewPassword {
    margin-top: 45px;
}

#sysPasswordChangeFormGroupText {
    margin-top: 5px;
}

#sysPasswordChangeFormGroupNewPasswordConfirmation {
    margin-top: 15px;
}

#sysPasswordChangeFormGroupSubmit {
    margin-top: 15px;
}
