<link href="/security/resources/css/processing/processing.css" rel="stylesheet" />
<link href="/security/resources/css/processing/internal/internalmailing-processing.css" rel="stylesheet" />

<div>

    <!-- Header -->
    <div class="panel panel-default sys-template-child-header-panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-cog text-danger"></span>
            <span>Envio de E-mails Internos</span>
        </div>
    </div>
    <!-- Header -->

</div>

<script src="/security/resources/js/processing/processing.js"></script>
<script src="/security/resources/js/processing/internal/internalmailing-processing.js"></script>
