<link href="/security/resources/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />

<link href="/security/resources/css/data-entry/retrieval/data-entry-retrieval.css" rel="stylesheet" />
<link href="/security/resources/css/data-entry/retrieval/general/idiom-data-entry-retrieval.css" rel="stylesheet" />

<div ng-controller="idiomDataEntryRetrievalCtrl">

    <!-- Header -->
    <div class="panel panel-default sys-template-child-header-panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list text-danger"></span>
            <span>Idiomas</span>
        </div>
    </div>
    <!-- Header -->

    <!-- Table -->
    <div id="toolbar" class="btn-group">
        <button ng-click="refresh()" type="button" class="btn btn-default" id="btnRefresh">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>
        <button ng-click="new()" type="button" class="btn btn-default" id="btnNew">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>

    <table id="idiomTable"
           data-data-entry-retrieval-directive-load-data
           data-classes="table table-hover table-condensed bs-table"
           data-striped="true"
           data-sort-name="idiom"
           data-search="true"
           data-show-columns="true"
           data-pagination="true"
           data-minimum-count-columns=0
           data-id-field="id"
           data-pagination-v-align="both"
           data-search-align="left"
           data-buttons-align="left"
           data-pagination-h-align="left"
           data-toolbar="#toolbar">  
        <thead>
            <tr>
                <th class="col-xs-1" data-halign="center" data-align="right" data-sortable="true" data-switchable="true" data-field="id">Código</th>
                <th class="col-xs-7" data-halign="left" data-align="left" data-sortable="true" data-switchable="false" data-field="idiom" data-formatter="linkFormatter">Denominação</th>
                <th class="col-xs-1" data-halign="center" data-align="left" data-sortable="true" data-switchable="true" data-field="wsLocale">Localidade</th>
                <th class="col-xs-1" data-halign="center" data-align="center" data-sortable="true" data-switchable="true" data-field="useCustomSettings">Customizado</th>
                <th class="col-xs-1" data-halign="center" data-align="center" data-sortable="true" data-switchable="true" data-field="existResourceFile">Recurso</th>
                <th class="col-xs-1" data-halign="center" data-align="center" data-sortable="true" data-switchable="true" data-field="active">Ativo</th>
            </tr>
        </thead>
    </table>
    <!-- /Table -->

</div> 

<a href="#/security/data-entry/retrieval-detail/general/idiom-data-entry-retrieval-detail">Ir para o detalhe</a>

<script src="/security/resources/bootstrap-table/bootstrap-table.js"></script>
<script src="/security/resources/bootstrap-table/locale/bootstrap-table-pt-BR.min.js"></script>

<script src="/security/resources/js/data-entry/retrieval/data-entry-retrieval.js"></script>
<script src="/security/resources/js/data-entry/retrieval/general/idiom-data-entry-retrieval.js"></script>
