#sysDataEntryRetrievalPendingEvaluationAccordion .panel-heading {
    padding: 0;
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-heading .panel-title a {
    text-decoration:none;
    display: block;
    padding: 12px 10px;
    cursor: pointer;
    font-size: 18px;
}
@media (max-width: 768px) {
    #sysDataEntryRetrievalPendingEvaluationAccordion .panel-heading .panel-title a {
        font-size: 14px;
        font-weight: bolder;
    }
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse > .panel-body > h3 {
    font-size: 18px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    #sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse > .panel-body > h3 {
        font-size: 14px;
        font-weight: bolder;
    }
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse .tab-content > .tab-pane {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    border-radius: 4px 4px 4px 4px;
}
@media (max-width: 768px) {
    #sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse .tab-content > .tab-pane {
        margin-top: 10px;
    }
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse .tab-content > .tab-pane > .row:first-child {
    margin-top: 10px;
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse .tab-content > .tab-pane > .row {
    margin-bottom: 10px;
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse .tab-content > .tab-pane label {
    font-weight: initial;
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse > .panel-body > div > p {
    margin-top: 30px;
}

#sysDataEntryRetrievalPendingEvaluationAccordion .panel-collapse .nav-tabs {
    border-bottom: none;
}